language: go

go:
  - 1.5
  - tip
before_install:
  - go get github.com/axw/gocov/gocov
  - go get github.com/mattn/goveralls
  - if ! go get github.com/golang/tools/cmd/cover; then go get golang.org/x/tools/cmd/cover; fi
after_success:
  - $HOME/gopath/bin/goveralls -service=travis-ci
script: make test
