Source: marathon-consul
Section: misc
Priority: extra
Maintainer: Allegro Group <opensource@allegro.pl>
Build-Depends: debhelper (>= 9.1.0), golang-go
Standards-Version: 3.9.4

Package: marathon-consul
Architecture: any
Description: Marathon-consul service (performs Marathon Tasks registration as Consul Services for service discovery)
 Marathon-consul takes information provided by the Marathon event bus and forwards it to Consul agents. It also re-syncs all the information from Marathon to Consul on startup and repeats it with given interval.

Package: marathon-consul-dev
Architecture: all
Description: Marathon-consul service (performs Marathon Tasks registration as Consul Services for service discovery) - development package
 Marathon-consul takes information provided by the Marathon event bus and forwards it to Consul agents. It also re-syncs all the information from Marathon to Consul on startup and repeats it with given interval.

